/* ===================================================== Utility ==================================================== */

.bg-light-grey {
  background: #808080;
}

.color-white {
  color: #fff;
}

.double-width {
  flex: 1; /*set to 2 at 800px media query break point*/
}

/* ===================================================== Global ===================================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 18px;
}

/* ================================================== Header ================================================= */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #4e4b4b;
  color: #fff;
}

header h1 {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  margin: 25px 0 0 0;
}

header nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 8px 0 14px 0;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}

header nav ul li:last-child a {
  margin-right: 0;
}

@media all and (min-width: 800px) {
  body {
    font-size: 20px;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 40px;
  }

  header h1 {
    margin: 0;
  }

  header nav ul {
    margin: 0;
  }

  header nav ul li a {
    margin-right: 40px;
  }

  header nav ul li:last-child a {
    margin-right: 0;
  }
}

/* ====================================================== Main ====================================================== */
main section {
  padding: 50px 15px 0 15px;
}

.group {
  display: flex;
  flex-direction: column;
}

.group-item {
  flex: 1;
  margin-bottom: 20px;
}

main h2 {
  margin-top: 0;
}

main img {
  width: 100%;
}

main p {
  line-height: 1.2;
}

section#Projects ul {
  list-style: none;
  padding-left: 0;
}

section#Projects ul li a {
  text-decoration: none;
  color: rgb(46, 128, 128);
}

section#Contact form div {
  margin-bottom: 20px;
}

section#Contact form label {
  display: block;
  margin-bottom: 5px;
}

section#Contact form input[type="text"],
section#Contact form input[type="email"],
section#Contact form textarea {
  width: 100%;
}

section#Contact form textarea {
  height: 100px;
}

section#Contact ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

section#Contact ul li {
  margin-bottom: 20px;
}

@media all and (min-width: 800px) {
  main section {
    padding: 100px 200px;
  }

  .group {
    flex-direction: row;
  }

  .group-item {
    padding: 20px;
    margin: 0;
  }

  section#Projects div.group-item:first-child,
  section#Contact div.group-item:first-child {
    padding-left: 0;
  }

  section#Projects div.group-item:last-child,
  section#Contact div.group-item:last-child {
    padding-right: 0;
  }

  main p {
    line-height: 1.5;
  }

  .double-width {
    flex: 2;
  }
}

/* ===================================================== Footer ===================================================== */

footer {
  background: #4e4b4b;
  color: #fff;
  padding: 20px 0;
}

footer p {
  margin: 0;
  text-align: center;
}
